<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gayathriarumugam.parentapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".View.MainActivity"
            android:label="Account">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.TutorsListActivity"
            android:label="Available Tutors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gayathriarumugam.parentapp.View.MainActivity" />
        </activity>
        <activity android:name=".View.BookNewSlot"
            android:label="Book Session">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gayathriarumugam.parentapp.View.TutorsListActivity" />
        </activity>
        <activity android:name=".View.BookedByParent"
            android:label="Booked Sessions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gayathriarumugam.parentapp.View.MainActivity" />
        </activity>
        <activity android:name=".View.SearchAddress"
            android:label="Booked Sessions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gayathriarumugam.parentapp.View.MainActivity" />
        </activity>
    </application>

</manifest>